span{
    font-family: monospace;
}

.file_tree{
    background-color: #ececec;
}

.document{
    background-color: #c9c9c9;
}

/*.config_part{*/
  /*outline: 2px solid black;*/
/*}*/

.math_env{
    background-color: #c9b353;
}

.pretexted{
    background-color: #c90072;
}